*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Library and Binary Files #
lib/*
bin/*

# Metadata from Eclipse Project
.metadata/*
RemoteSystemsTempFiles/**
.externalToolBuilders

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Only publish pdf for reportrs
reports/*
!reports/*.pdf

# Only care about .gitignore from root directory
.gitignore
!/.gitignore
